:root {
  --purple: hsl(259, 100%, 65%);
  --light-red: hsl(0, 100%, 67%);
  ---white: hsl(0, 0%, 100%);
  --off-white: hsl(0, 0%, 94%);
  --line: hsl(0, 0%, 86%);
  --light-grey: rgb(219, 219, 219);
  --smokey-grey: hsl(0, 1%, 44%);
  --off-black: hsl(0, 0%, 8%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--off-white);
  padding: 0 1rem;
  min-height: 100vh;
}

.card {
  background-color: var(---white);
  margin: 5.5rem 0;
  padding: 3rem 1.5rem;
  border-radius: 24px 24px 100px 24px;
}

.inputs {
  display: flex;
  align-items: start;
  gap: 1rem;
}

.input-row {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.input-label {
  color: var(--smokey-grey);
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: 3px;
}

.error > .input-label {
  color: var(--light-red);
}

.input {
  max-width: 87.67px;
  border: 1px solid var(--line);
  font-family: inherit;
  font-size: 1.25rem;
  font-weight: 800;
  padding: 0.75rem 1rem;
  border-radius: 8px;
  caret-color: var(--purple);
}

.input:focus {
  outline: 1px solid var(--purple);
}

.error > .input {
  border: 1px solid var(--light-red);
  outline: none;
  caret-color: var(--light-red);
}

.error-text {
  color: var(--light-red);
  font-style: italic;
  display: none;
}

.error .error-text {
  display: block;
}

.action {
  position: relative;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.action::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: var(--line);
  left: 0;
  top: 50%;
}

.btn {
  border: none;
  padding: 1.25rem;
  border-radius: 50%;
  background-color: var(--purple);
  display: flex;
  position: relative;
  cursor: pointer;
  z-index: 1;
  transition: background-color 0.2s;
}

.btn:hover {
  background-color: var(--off-black);
}

.btn-image {
  width: 24px;
  height: 24px;
}

.result {
  margin-top: 2rem;
  font-size: 3.5rem;
  line-height: 1.1;
  font-style: italic;
  font-weight: 800;
}

.result-num {
  color: var(--purple);
}

@media (min-width: 920px) {
  body {
    display: grid;
    place-items: center;
  }

  .card {
    max-width: 840px;
    width: 100%;
    margin: 0;
    padding: 3.5rem;
    border-radius: 24px 24px 200px 24px;
  }

  .inputs {
    gap: 2rem;
  }

  .input-row {
    gap: 0.5rem;
  }

  .input-label {
    font-size: 0.875rem;
  }

  .input {
    max-width: 160px;
    padding: 0.75rem 1.5rem;
    font-size: 2rem;
  }

  .action {
    justify-content: end;
    margin-top: 0;
  }

  .btn {
    padding: 1.625rem;
  }

  .btn-image {
    width: 44px;
    height: 44px;
  }

  .result {
    margin-top: 0;
    font-size: 6.5rem;
  }
}
